@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.fondo{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: auto;
  background-image: url(http://cdn.wallpapersafari.com/23/58/KB5Tx7.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
  -webkit-filter: blur(0.7px);
  z-index: -1;
}

.fondo_menu{
  background: #aaa;
  opacity: 0.5;
  position: absolute;
  top: calc(10%);
  left: calc(5%);
  height: 80%;
  width: 17%;
  padding: 10px;
  z-index: 2;
}



.barra_menu{
  background: #aaa;
  opacity: 0.5;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
  /*
  position: absolute;
  background: #aaa;
  opacity: 0.5;
  top: calc(90%-10px);
  left: calc(10%-10px);
  padding: 5%;*/
}

img.logo{
  max-height:140px;
  top: 5%;
  left: 1%;
  width: auto;
  height: auto;
  -webkit-filter: blur(0.2px);
}

.button1{
  width: 200px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor:pointer;
  border-radius: 7px;
  /*color: #a18e6c;*/
  font-family: 'Exo', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 3px;
  margin-top: 10%; /*altura*/
  margin-bottom: 10px; /*altura*/
  opacity: 3;
  -webkit-filter: blur(0.7px);
}

.button2 {
  width: 200px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor:pointer;
  border-radius: 7px;
  /*color: #a18e6c;*/
  font-family: 'Exo', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 3px;
  margin-top: 0px; /*altura*/
  margin-bottom: 10px; /*altura*/
  opacity: 3;
  -webkit-filter: blur(0.7px);
}

.button3 {
  width: 200px;
  height: 35px;
  background: #8A0829;
  border: 1px solid #fff;
  cursor:pointer;
  border-radius: 7px;
  /*color: #a18e6c;*/
  font-family: 'Exo', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF	;
  padding: 3px;
  margin-top: 110px; /*altura*/
  margin-bottom: 10px; /*altura*/
  opacity: 3;
  -webkit-filter: blur(0.7px);
}

/* MENUBAR internet */

#menu-v li, #menu-v a {zoom:1;} /* Hacks for IE6, IE7 */
#menu-v, #menu-v ul
{
    width: 180px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    position: relative; font-size:0;
    list-style: none; margin: 0; padding: 0; display:block;
    z-index:9;
}
                
/* Top level menu links style
---------------------------------------*/

#menu-v li
{
    background: #FFF url(bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#menu-v li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:26px;
    padding-left:26px;            
}
#menu-v ul li a
{
    line-height:30px;
}
                
#menu-v li a.arrow:hover
{
    background-image:url(arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    position: absolute;
    width: 200px; /*Sub Menu Items width */
    visibility:hidden;
}
        
#menu-v a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#menu-v li:hover, #menu-v li.onhover
{
    background-position:0 -62px;
}
#menu-v ul li
{
    background: rgba(255, 255, 255, 0.86);
    background-image:none;
}
#menu-v ul li:hover, #menu-v ul li.onhover
{
    background: #FFF;
    background-image:none;
}
        
/* Holly Hack for IE \
* html #menu-v  li
{
    float:left;
    height: 1%;
}
* html #menu-v  li a
{
    height: 1%;
}*/
/* End */
